{{#partial "caption"}}{{{ full_name }}}{{/partial}}
{{#partial "keywords"}}{{{ keywords }}}{{/partial}}

{{#partial "content"}}

    <h1 class="header_t ">{{{ full_name_with_patronymic }}}
    </h1>
    <center>
        <table align="center" width="60%">
            <tr>
                <td>
                    {{#if image}}<a rel="" title="" href="{{ image.url_small }}">
                        <img class="l lightbox bordered" src="{{ image.url }}"/>
                    </a>{{/if}}

                    {{#if date_of_birth}}
                    <br>
                    <div>{{ date_of_birth }} року народження</div>
                    {{/if}}


                    {{#if on_the_stage}}
                        <br>
                        <div>на сцені театру з {{ on_the_stage }}</div>
                    {{/if}}
                </td>
            </tr>
        </table>
    </center>

    {{#if gallery }}

    <center><p>
        <ul id="mycarousel" class="jcarousel-skin-tango">
            {{#each gallery}}

            <li>
                <a href="{{ url_small }}" title="{{{ title }}}">

                    <img src="{{ url }}" class="lightbox news_body_bottom" title="{{{ title }}}"/>
                </a>
            </li>

            {{/each}}
        </ul>
        </p></center>
    {{/if}}


    {% for k, v in dict.items %}
    {% if k == 'staff' and v %}
    <div class="header_t "><p>Участь у постановках</p></div>
    {% else %}
    {% if k == 'grown' and v %}
    <div class="header_t "><p>Ролі</p></div>
    {% else %}
    {% if v %}
    <div class="header_t "><p>Ролі в дитячих виставах</p></div>

    {% endif %}
    {% endif %}
    {% endif %}


    {% for performance, role in v.items %}


    <div>

        {% for r in role %}

        {% if r.personage %}
        <b>{{r.personage.person}}</b> -
        {% endif %}
        {% endfor %}

        <a style="font-weight: normal"
           href="{%  url 'portal-performance-item' performance.unique_name %}">{{performance}}</a>
        (реж. {{performance.producer}})
    </div>

    {% endfor %}

    {% endfor %}

    {% if trouper.addition %}
    {{trouper.addition|typogrify|safe}}
    {% endif %}



{{/partial}}

{{> default }}
