{{#partial "caption"}}{{{ full_name }}}{{/partial}}
{{#partial "keywords"}}{{{ keywords }}}{{/partial}}

{{#partial "content"}}

    <h1 class="header_t ">{{{ full_name }}}
    </h1>
    <center>
        <table align="center" width="60%">
            <tr>
                <td>
                    {{#if image}}<a rel="" title="" href="{{ image.url_small }}">
                        <img class="l lightbox bordered" src="{{ image.url }}"/>
                    </a>{{/if}}

                    {{#if date_of_birth}}
                    <br>
                    <div>{{ date_of_birth }} року народження</div>
                    {{/if}}


                    {{#if on_the_stage}}
                        <div>на сцені театру з {{ on_the_stage }}</div>
                    {{/if}}
                </td>
            </tr>
        </table>
    </center>

    {{#if gallery }}

    <center><p>
        <ul id="mycarousel" class="jcarousel-skin-tango">
            {{#each gallery}}

            <li>
                <a href="{{ url_small }}" title="{{{ title }}}">

                    <img src="{{ url }}" class="lightbox news_body_bottom" title="{{{ title }}}"/>
                </a>
            </li>

            {{/each}}
        </ul>
        </p></center>
    {{/if}}

    {{#if grown_roles}}
        <div class="header_t "><p>Ролі</p></div>
        {{#each grown_roles}}
            <div>
                <b>{{{ role }}}</b> - <a style="font-weight: normal"
                                         href="{{ url }}">{{{ performance }}}</a>
                (реж. {{{ director }}})
            </div>
        {{/each}}
    {{/if}}

    {{#if kids_roles}}
        <div class="header_t "><p>Ролі в дитячих виставах</p></div>
        {{#each kids_roles}}
            <div>
                <b>{{{ role }}}</b> - <a style="font-weight: normal"
                                         href="{{ url }}">{{{ performance }}}</a>
                (реж. {{{ director }}})
            </div>
        {{/each}}
    {{/if}}

    {{#if staff}}
        <div class="header_t "><p>Участь у постановках</p></div>
        {{#each staff}}
            <div>
                <b>{{{ role }}}</b> - <a style="font-weight: normal"
                                         href="{{ url }}">{{{ performance }}}</a>
                (реж. {{{ director }}})
            </div>
        {{/each}}
    {{/if}}

    {{#if addition }}
    {{{ addition }}}
    {{/if}}
{{/partial}}

{{> default }}
