<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:yandex="http://news.yandex.ru" version="2.0">
    <channel>
        <title>{{ feed.caption }}</title>
        <link>{{ feed.link }}</link>
        <description>{{ feed.title }}</description>
        {{#each feed.items}}
            <item>
                <title>{{ caption }}</title>
                <link>{{ link }}</link>
                <description><![CDATA[
                    {{ description }}
                    ]]></description>
                <pubDate>{{ pubDate }}</pubDate>
                <guid>{{ guid }}</guid>
                <dc:date>{{ xml_date }}</dc:date>
                <yandex:full-text><![CDATA[
                    {{ fulltext }}
                ]]></yandex:full-text>
            {{#each categories}}
                <category>{{ . }}</category>
            {{/each}}
            {{#each ecnlosure}}
                <enclosure url="{{ url }}" type="{{ type }}"/>
            {{/each}}
            </item>
        {{/each}}
    </channel>
</rss>
